@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #EAD2C5;
}

.parkindex, .siteindex, .trailindex {
  display: flex;
}

.navbar {
  background-color: #718968;
}

.logocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #C97064;
  border-color: transparent;
  margin: 5px;
}

.btn:hover, .btn:focus {
  background-color: #718968;
  border-color: transparent;
}

.btn:active {
  background-color: #718968!;
  border-color: transparent!;
}
