@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.container{
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  max-width:none;
  height:100%;
  max-height:none;
  scroll-behavior: smooth;
}

.parkindex, .siteindex, .trailindex, .favoriteindex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.navbar {
  background-color: #718968;
  display: flex;
  width: 100%;
  font-size: 25px;
}

.userprofilecontainer {
  justify-content: flex-end;
  margin-right: 10px;
}

.logocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.btn {
  background-color: #C97064;
  border-color: transparent;
  margin: 5px;
}

.btn:hover, .btn:focus {
  background-color: #718968;
  border-color: transparent;
}

.btn:active {
  background-color: #718968!;
  border-color: transparent!;
}

.homeheader {
  background-color: #718968;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoname {
  color: whitesmoke;
  padding-left: 18px;
  padding-bottom: 15px;
  font-size: 50px;
}
.hometabs {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.homenav {
  align-self: center;
}

.trailhome, .parkhome, .sitehome {
  display: flex;
}

.trailhome {
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-content: flex-start;
}

.trailtextcontainer {
  text-align: right;
  flex-wrap: wrap;
  width: 1000px;
}

.imagecontainer {
  margin: 10px;
}

.siteimagecontainer {
  margin: 10px;
}

.signoutbtn {
  justify-content: flex-end;
  align-items: end;
}

.parkCard {
  background-color: whitesmoke;
  margin: 10px;
}

.trailCard, .siteCard {
  margin: 10px;
}

.btngroup {
  display: flex;
}

.trailbody {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #718968;
  padding: 75px;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

.wrapper {
  flex: 1;
}

.indexheader {
  margin: 20px;
}

.parkform, .trailform, .siteform, .addnew, .profilepic {
  margin: 15px;
}

.trailcardtext {
  background-color: whitesmoke;
}
